
<h1> Here is your task: </h1>

<h2><%= @task.title %></h2>
<p>Details: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>

<%= link_to "back to Main", index_path, class: "btn btn-dark" %>


<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
